.card {
    height: 200px;
    padding: 1%;
}

.row {
    
    padding: 1%;
    
}

body {
    background: url("bjbg.png");
    background-size: cover;
}

#playerBankDiv {
    height: 200px;
    padding: 5%
}

h1 {
    color: white;
}