.card {
    height: 200px;
    padding: 1%;
}

.row {
    
    padding: 1%;
    
}

body {
    background: url("bjbg.png");
    background-size: cover;
}

#playerBankDiv {
    height: 200px;
    padding: 5%;
    font-size: 8em;
}

h1 {
    color: white;
}

#dealerCards {
    height: 250px;
}

#winner {
    height: 200px;
    font-size: 2em
}
h3 {
    color: white;
}

.btn-new {
    height: 60;
    font-size: 35px;
    margin: 5%;
}

.deck {
    background-image: "backDeck.png";
    height: 200px;
    padding: 1%;
}